.btn {
    display: inline-block;
    padding: 35px 20px;
    background-color: blue;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    border: 10px solid black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.btn:hover {
    background-color: blueviolet;
}